@model IEnumerable<OrderModel>
@{
    ViewData["Title"] = "List the history of orders placed by " + ViewBag.UserEmail;
}
<h3>List the history of orders placed by @ViewBag.UserEmail</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Order Code</th>
            <th scope="col">Username</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.OrderCode</td>
                <td>@item.UserName</td>
                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-primary">New</span>
                    }
                    else if (item.Status == 2)
                    {
                        <span class="text text-success">Confirmed</span>
                    }
                    else {
                        <span class="text text-danger">Cancelled</span>
                    }
                </td>
                <td>
                    @if (item.Status != 3) {
                        <a asp-action="CancelOrder" class="btn btn-danger btn-sm" asp-controller="Account" asp-route-ordercode="@item.OrderCode">Cancel</a>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>
