@using dotnet_project.Models.ViewModels
@model CartItemViewModel

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="name">Name</td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>

					@if(Model.CartItems.Count > 0) {
						@foreach(var item in Model.CartItems) {
							<tr>
								<td class="cart_product">
									<a href="">
										<img src="~/media/products/@item.Image" alt="@item.ProductName" 
										style="height: 150px;width: 150px;">
									</a>
								</td>
								<td class="cart_description">
									<h4><a href="">@item.ProductName</a></h4>
								</td>
								<td class="cart_price">
									<p>@item.Price.ToString("#,##0 VNĐ")</p>
								</td>
								<td class="cart_quantity">
									<div class="cart_quantity_button">
										
										<a class="cart_quantity_down" asp-controller="Cart" asp-action="Decrease" asp-route-id="@item.ProductId"> - </a>
										<input readonly class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
										<a class="cart_quantity_up" asp-controller="Cart" asp-action="Increase" asp-route-id="@item.ProductId"> + </a>
										
									</div>
								</td>
								<td class="cart_total">
									<p class="cart_total_price">@Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString("#,##0 VNĐ")</p>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" style="display:table-cell" onclick="return confirm('Would you like to remove this item from your cart?');"
									asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductId"> x </a>
								</td>
							</tr>
						}
						<tr rowspan = "4">
							<td colspan="3"><p class="cart_total_price" style="padding-left:20px;padding-top:30px">Grand Total: @Model.GrandTotal.ToString("#,##0 VNĐ")</p></td>
							<td class="cart_delete" style="padding-top:45px">
								<a class="cart_quantity_delete" onclick="return confirm('Would you like to empty your shopping cart?');" 
								asp-controller="Cart" asp-action="Clear"> Clear All </a>
							</td>
							@if (User.Identity?.IsAuthenticated ?? false)
							{
								<td>
									@* <a class="btn btn-primary btn-sm" asp-controller="Checkout" asp-action="Checkout"> Checkout </a> *@
									<a class="btn btn-primary btn-sm btn-checkout"
									   style="border-radius: 0; height:33px"
									   onclick="return confirm('Confirm checkout?');"
									   asp-controller="Checkout" asp-action="Checkout">
									   Checkout
									</a>
								</td>
							}
							<td>
								<form method="post" asp-action="CreatePaymentMoMo" asp-controller="Payment">
									<input type="hidden" name="Amount" value="@Model.GrandTotal"/>
									@* <input type="hidden" name="OrderId" value="@Guid.NewGuid().ToString()" /> *@
									<input type="hidden" name="OrderInfo" value="Pay with MoMo for the order at Plantaby Pottery Shop." />
									<input type="hidden" name="FullName" value="@User.Identity.Name" />
									<button style="border-radius: 0; height:33px" class="btn btn-primary btn-sm" 
											name="PayUrl" type="submit">Pay with MoMo
									</button>
								</form>
								
							</td>
						</tr>
					}
					else {
						<tr>
							<td colspan="5"> <h4>Your cart is empty!</h4> </td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->