@model IEnumerable<ProductModel>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-3">
	@Html.Partial("_SidebarPartial")
</div>

<div class="col-sm-9 padding-right">
	
	<div class="features_items">
		
			@Html.Partial("_FilterProductsPartial")
		
		<!--features_items-->

		<h2 class="title text-center">@ViewBag.Slug</h2>
		
		@foreach (var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
							<div class="productinfo text-center">
								<img src="~/media/products/@item.Image" alt="@item.Name" width="100%" />
								<h2>@item.Price.ToString("#,##0 VNĐ")</h2>
								<p>@item.Name</p>
								<p>Danh mục: @item.Category.Name</p>
								<p>Thương hiệu: @item.Brand.Name</p>
							</div>
						</a>
						@if (item.Quantity > 0)
						{
							<a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Id"><i class="fa fa-shopping-cart"></i> Add to cart</a>
						}
						else
						{
							<a class="btn btn-default"><i class="fa fa-shopping-cart"></i> Sold out</a>
						}

					</div>

					<div class="choose">
						<ul class="nav nav-pills nav-justified">
							<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
							<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
						</ul>
					</div>
				</div>
			</div>
		}

	</div><!--features_items-->
	</div>


		</div>
		@section Scripts {
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
	<script>
		$(document).ready(function () {
			$("#slider-range").slider({
				range: true,
				step: 100000,
				min: 0,
				max: 700000,
				values: [0, 300000],
				slide: function (event, ui) {
					$("#amount").val(ui.values[0] + "VNĐ - " + ui.values[1] + "VNĐ");
				}
			});
	
		$("#amount").val($("#slider-range").slider("values", 0) +
				"VNĐ - " + $("#slider-range").slider("values", 1)+"VNĐ" );

				 } );
		// btn lọc giá
		$('.btn-locgia').on('click', function () {
			var url = $(this).data("current_url");

			if (url) {//http://localhost:5030/category/laptop?startprice=10000&endprice=300000
				window.location = url + "?startprice=" + $("#slider-range").slider("values", 0) + "&endprice=" + $("#slider-range").slider("values", 1);

			}
			return false;
		})
</script>
			<script type="text/javascript">
				$(document).ready(function () {
			$('#sort_by').on('change', function () {
				var url = $(this).val();
				if (url) {
					window.location = url;
				}
				return false;
			});
		});
										
	</script>
	}